attrs==20.3.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
distro==1.5.0
dnspython==1.16.0
dockerpty==0.4.1
docopt==0.6.2
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
pymongo==3.11.3
pyrsistent==0.17.3
python-dotenv==0.15.0
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
smmap==3.0.5
texttable==1.6.3
urllib3==1.26.3
websocket-client==0.57.0
Werkzeug==1.0.1
